:root{
    --sc_middle: 2;
    --ca_middle: 8;
    --end: 9;
}

body {
    max-width: 61%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12%, 8);
    gap: 5px;

    background-color: lightseagreen;
}

.header {
    grid-column: 1/var(--end);
    grid-row: 1/2;
    
    background-color: rgb(42, 13, 109);
}

.sidebar {
    grid-column: 1/var(--sc_middle);
    grid-row: 2/span 4;
    
    background-color: rgb(42, 13, 109);
}

.content{
    min-height: 50em;
    grid-column: var(--sc_middle)/8;
    grid-row: 2/span 3;
    
    background-color: rgb(67, 19, 179);
}

.advertising{
    grid-column: var(--ca_middle)/var(--end);
    grid-row: 2/span 3;
    
    background-color: rgb(107, 71, 192);
}

.footer {
    grid-column: var(--sc_middle)/var(--end);
    grid-row: 5/6;
    
    background-color: rgb(42, 13, 109);
}
