:root{
    /* from left to right grid-variables */
    --start: 1;
    --left: 2;
    --middle: 4;
    --right: 12;
    --end: 13;

    /* from up to down grid-variables */
    --top: 1;
    --header_botton: 4;
    --ad1_botton: 6;
    --ad2_top: 10;
    --footer_top: 12;
    --bottom: 13;
    

    /* colour variables */
    --main_color: #111111;
    --background_color: #222222;
    --text_color: #ffffff;
    --contrast_color: #daff3e;
    --highlighted_background: var(--contrast_color);
    --highlighted_text: var(--background_color);
}

* {
    margin: 0em;
    padding: 0em;

    box-sizing: border-box;
}

body {
    max-width: 100%;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto, 12);
    grid-template-rows: repeat(auto, 12);
    gap: 0.25em;

    background-color: var(--main_color);
    color: var(--text_color);
}

a {
    text-decoration: none;
    color: inherit;
}

/**************************/
/********* HEADER *********/
/**************************/
header {
    padding: 2em 1em;

    grid-column: var(--start)/var(--end);
    grid-row: var(--top)/var(--header_botton);
    
    background-color: var(--background_color);
    color: var(--contrast_color);
}
header a {
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 7px;
}
header a.logo {
    background-color: var(--highlighted_background);
    color: var(--highlighted_text);
    font-size: 25px;
    font-weight: bold;
}
header a.nav_link:hover {
    
    background-color: var(--contrast_color);
    color: var(--background_color)
}
.navbar {
    float: right;
}
/**************************/
/**^^^^^^^ HEADER ^^^^^^^**/
/**************************/

.content{
    padding: 1em;
    
    min-height: 90em;
    color: inherit;
}

.advertising1{
    padding: 1em;

    border-style: solid;
    border-width: 1px;
    border-color: var(--contrast_color);
}

.advertising2{
    padding: 1em;

    border-style: solid;
    border-width: 1px;
    border-color: var(--contrast_color);
}

.footer {
    padding: 1em;
    
    grid-column: var(--start)/var(--end);
    grid-row: var(--footer_top)/ var(--bottom);
    
    background-color: var(--background_color);
    color: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content_xs {
        grid-column: var(--start)/var(--end);
        grid-row: var(--ad1_botton)/var(--ad2_top);
    }
    .ad1_xs {
        grid-column: var(--start)/var(--end);
        grid-row: var(--header_botton)/var(--ad1_botton);
    }
    .ad2_xs {
        grid-column: var(--start)/var(--end);
        grid-row: var(--ad2_top)/var(--footer_top);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content_s {
        grid-column: var(--start)/var(--end);
        grid-row: var(--ad1_botton)/var(--ad2_top);
    }
    .ad1_s {
        grid-column: var(--start)/var(--end);
        grid-row: var(--header_botton)/var(--ad1_botton);
    }
    .ad2_s {
        grid-column: var(--start)/var(--end);
        grid-row: var(--ad2_top)/var(--footer_top);
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content_m {
        grid-column: var(--start)/var(--end);
        grid-row: var(--ad1_botton)/var(--ad2_top);
    }
    .ad1_s {
        grid-column: var(--start)/var(--end);
        grid-row: var(--header_botton)/var(--ad1_botton);
    }
    .ad2_s {
        grid-column: var(--start)/var(--end);
        grid-row: var(--ad2_top)/var(--footer_top);
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .content_l {
        grid-column: var(--start)/var(--right);
        grid-row: var(--ad1_botton)/var(--footer_top);
    }
    .ad1_l {
        grid-column: var(--start)/var(--right);
        grid-row: var(--header_botton)/var(--ad1_botton);
    }
    .ad2_l {
        grid-column: var(--right)/var(--end);
        grid-row: var(--header_botton)/var(--footer_top);
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content_xl {
        grid-column: var(--left)/var(--right);
        grid-row: var(--header_botton)/var(--footer_top);
    }
    .ad1_xl {
        grid-column: var(--start)/var(--left);
        grid-row: var(--header_botton)/var(--footer_top);
    }
    .ad2_xl {
        grid-column: var(--right)/var(--end);
        grid-row: var(--header_botton)/var(--footer_top);
    }
    
}
