<!DOCTYPE html>
{% load static %}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static "ProjectAdalher/css/main.css" %}">

    <title> {% block title %}{% endblock %}</title>
    {% block css_sheets %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% include "header.html" %}
        {% endblock %}
    </header>
    <main class="content content_xs content_s content_m content_l content_xl">
        {% block content %}
        {% endblock %}
    </main>
    <div class="advertising1 ad1_xs ad1_s ad1_m ad1_l ad1_xl">
        {% block advertising1 %}
        {% include "advertising1.html" %}
        {% endblock %}
    </div>
    <div class="advertising2 ad2_xs ad2_s ad2_m ad2_l ad2_xl">
        {% block advertising2 %}
        {% include "advertising2.html" %}
        {% endblock %}
    </div>
    <footer class="footer">
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
    </footer>

    <script src="{% static "ProjectAdalher/js/main.js" %}"></script>
    {% block js_scripts %}{% endblock %}
</body>
</html>
